	
	
	.subscribe-button
	{
		background-color: rgb(230,20,20);
		color: white;
		border: none;
		border-radius: 3px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		transition: background 0.2s;
		vertical-align: top;
	}
	.subscribe-button:hover
	{
		opacity: 1;
		background: rgb(255,100,100);
	}
	.subscribe-button:active
	{
		background: rgb(150,0,0);
	}
	
	.join-button
	{
		background-color: white;
		color: rgb(100,175,255);
		font-weight: 800;
		border-color: rgb(100,175,255);
		border-radius: 5px;
		border-style: solid;
		border-width: 3px;
		padding-top: 4px;
		padding-bottom: 3.7px;
		cursor: pointer;
		transition: background 0.2s, color 0.2s, border-color 0.2s;
	}
	.join-button:hover
	{
		background: rgb(100,175,255);
		border-color: rgb(100,175,255);
		color: white;
	}
	.join-button:active
	{
		background: rgb(50,125,205);
		border-color: rgb(50,125,205);
		color:white
	}
	
	.tweet-button
	{
		background-color: rgb(80,80,255);
		color: white;
		border-radius: 25px;
		border: none;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 10px;
		padding-left: 7.25px;
		cursor: pointer;
		font-weight: bold;
		font-size: 18px;
		transition: box-shadow 0.2s, opacity 0.2s, background 0.2s, padding-bottom 2s;
	}
	.tweet-button:hover
	{
		opacity: 0.7;
		box-shadow: 5px 5px 10px rgb(30,30,150);
	}
	.tweet-button:active
	{
		background:rgb(0,0,175);
		box-shadow: 5px 5px 10px rgb(0,0,50);
		padding-bottom: 30px;
	}
	.tigreclass
	{
		color: rgb(255,0,0);
		text-decoration: underline;
	}
	.tigretext
	{
		font-family: Arial;
	}			